<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>coworkDF - <%= @title %></title>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		
		<!-- Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script src="js/bootstrap-modal.js"></script>
	</head>
	<body>
		<div class="topbar">
		      <div class="fill">
		        <div class="container">
		          <a class="brand" href="/">coworkDF</a>
		          <ul class="nav">
		            <li <%= "class='active'" if @title=="¿Que es?" %>>
						<a href="/quees">¿Que es?</a>
					</li>
		            <li <%= "class='active'" if @title=="¿Como ayudo?" %>>
						<a href="/ayuda">¿Como ayudo?</a>
					</li>
					<li <%= "class='active'" if @title=="Beneficios" %>>
						<a href="/beneficios">Beneficios</a>
					</li>
		            <li <%= "class='active'" if @title=="Avance" %>>
						<a href="/avance">Avance</a>
					</li>
					<li <%= "class='active'" if @title=="Miembros" %>>
						<a href="/miembros">Miembros</a>
					</li>
					<li <%= "class='active'" if @title=="Blog" %>>
						<a href="http://coworkDF.tumblr.com">Blog</a>
					</li>
		          </ul>
				  <a href="http://www.facebook.com"><img class='social-media' src='/images/icon_facebook32.png' alt='Facebook'/></a>
				  <a href="http://www.twitter.com/coworkDF"><img  class='social-media' src='/images/icon_twitter32.png' alt='Twitter'/></a>
		        </div>
		      </div>
		</div>

		    <div class="container">
			  <div class="content">
				
					<div class="row"> <!-- content -->
						<div class="span12">
						
							<%= yield %>
					
						</div> <!-- span12 -->
				
			  			<div class="sidebar span4">
							<h3>Suscríbete</h3>
								<%= erb :lista_correos %>
							<h3>Siguientes Eventos</h3>
							<dl>
								<dt><a href='/evento'>coworkDAY</a></dt>
								<dd>
									<p>
										Miércoles, X de Septiembre<br/>
										Café Péndulo <br/>
										Amsterdam 400 <br/>
										Colonia Condesa <br/>
									</p>
								</dd>
								<dt><a href='/evento'>Lean Startup Meetup</a></dt>
								<dd>
									<p>
										Miércoles, X de Septiembre<br/>
										Café Péndulo <br/>
										Amsterdam 400 <br/>
										Colonia Condesa <br/>
									</p>
								</dd>
							</dl>
						</div> <!-- span4 -->
					</div> <!-- row -->

			
			
			  </div> <!-- content -->	
			  <footer>
		        <p>&copy; coworkDF 2011 | info@coworkdf.com</p>
		      </footer>

		    </div> <!-- /container -->		
	</body>
</html>